
# URL to redirect to
REDIRECT_URL="https://discord.gg/k9YRuZPSZs"

# Port this service will run on on the host
SERVICE_PORT=8035

# Used to name the containers, for example.
# Only lowercase alphanumeric characters, hyphens, and underscores.
# Must start with a letter or number.
COMPOSE_PROJECT_NAME="discord_mieuxvoter_fr"
